:root {
  --basic-font-size: 1rem;
  --desktop-font-size: 1.25rem;
}

/* Font-face used in project */
@font-face {
  font-family: 'Noto Serif';
  src: url('../../assets/fonts/NotoSerif.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif'), local('NotoSerif'),
       url('../../assets/fonts/NotoSerif.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/NotoSerif.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/NotoSerif.woff') format('woff') font-weight-normal, /* Modern Browsers */
       url('../../assets/fonts/NotoSerif.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/NotoSerif.svg#NotoSerif') format('svg'); /* Legacy iOS */

  font-weight: 300 400;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('../../assets/fonts/NotoSerif-SemiBold.eot');
  src: local('Noto Serif'), local('NotoSerif'),
       url('../../assets/fonts/NotoSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/NotoSerif-SemiBold.woff2') format('woff2'),
       url('../../assets/fonts/NotoSerif-SemiBold.woff') format('woff'),
       url('../../assets/fonts/NotoSerif-SemiBold.ttf') format('truetype'),
       url('../../assets/fonts/NotoSerif-SemiBold.svg#NotoSerif') format('svg');

  font-weight: 500;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('../../assets/fonts/NotoSerif-Bold.eot');
  src: local('Noto Serif'), local('NotoSerif'),
       url('../../assets/fonts/NotoSerif-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/NotoSerif-Bold.woff2') format('woff2'),
       url('../../assets/fonts/NotoSerif-Bold.woff') format('woff'),
       url('../../assets/fonts/NotoSerif-Bold.ttf') format('truetype');

  font-weight: 600 700;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../../assets/fonts/BebasNeue.eot');
  src: local('Bebas Neue'), local('BebasNeue'),
  url('../../assets/fonts/BebasNeue.eot#iefix') format('embedded-opentype'),
  url('../../assets/fonts/BebasNeue.woff2') format('woff2'),
  url('../../assets/fonts/BebasNeue.woff') format('woff'),
  url('../../assets/fonts/BebasNeue.ttf') format('truetype'),
  url('../../assets/fonts/BebasNeue.svg') format('svg');
}

body {
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
  font-size: var(--basic-font-size);
  line-height: 1.25;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: var(--desktop-font-size);
  }
}